<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
    <strong> Ratings (<%= product.ratings.length %>): </strong>
      <% if product.ratings.length == 0 %>
        <i> No ratings yet </i>
      <% else %>
        <%# ------------------------- Add stars---------------------------------------- %>
        <% (1..average_rating(product)).each do |n| %>
          <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        <% end %>
        <% (1..(5 - average_rating(product))).each do |n| %>
          <span class="float-right"><i class="fa fa-star"></i></span>
        <% end %>
        <%# ------------------------- End stars---------------------------------------- %>   
      <% end %>
    
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <footer class="actions">
    <%= button_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary' , method: :post do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details &raquo;
    <% end %>
  </footer>
  <% if sold_out? product %>
    <aside class="sold-out">
      SOLD OUT!
    </aside>
  <% end %>
  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
</article>
