<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>            
    </div>

  <%# ------------------------- Add rating form ---------------------------------------- %><%#%>
  
  <div class="row justify-content-center">
    <div class='col-6'>
      <h2> Add a review </h2>
    </div>
  </div>
    <% if current_user %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <%= form_for [@product, @rating] do |form| %>

          <% if form.object.errors.any? %>
            <div class="alert alert-danger">
              <strong>The following errors prevented saving:</strong>
              <ul>
                <% form.object.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :rating %>
            <%= form.select :rating,  options_for_select( (0..5)), class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <%= form.submit 'Add review', class: 'btn btn-primary' %>
        <% end %>
        <% else %>
        Log in to add a review
        <% end %>
      </div>
    </div>
    
    <%# ------------------------- Rating list ---------------------------------------- %>
    <%# example code from https://bootsnipp.com/snippets/M5obX %>
    <div class="row justify-content-center">
      <div class='col-6'>
        <h2> Reviews </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        </div>
      <div class="col-sm-10">
        <% product_ratings.each do |rating| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <p class="text-secondary text-center"><%=rating[:created_at]%></p>
                </div>
                <div class="col-md-10">
                  <p>
                    <span class="float-left"><strong><%= rating[:user] %></strong></span>
                    <%# ------------------------- Add stars---------------------------------------- %>
                    <% (1..rating[:rating]).each do |n| %>
                      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                    <% end %>
                    <% (1..(5 - rating[:rating])).each do |n| %>
                      <span class="float-right"><i class="fa fa-star"></i></span>
                    <% end %>
                    <%# ------------------------- End stars---------------------------------------- %>  
                  </p>
                  <div class="clearfix"></div>
                  <p><%= rating[:description] %></p>
                </div>
              </div>
            </div>
          </div>
        <%end %>
      </div>
    </div>
  </article>
</section>

